body {
  margin: 0;
  border: 0;
  background-color: #f4f4f4;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Catamaran", sans-serif;
  overflow: initial;
}

.app-discription p {
  margin-bottom: 15px;
}

/* START OF HEADER/NAVIGATION STYLE */
.nav-list, li {
  margin: 0;
  padding: 0;
}
.nav-list li {
  list-style-type: none;
}

.nav-list, a {
  text-decoration: none;
  color: #010165;
}

.home > a {
  margin: 0;
  font-size: 1.45em;
}

.container,
.nav-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.home a {
  text-transform: uppercase;
}

.home a:hover {
  text-decoration: underline;
}

.home a,
.nav-list a {
  padding: 10px 15px;
  text-align: center;
}

.nav-list {
  margin-top: 5px;
}

.container {
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.button {
  border: none;
  color: #010165;
  padding: 12px 40px 10px;
  position: relative;
}

.button:hover {
  background-color: #010165;
  color: #ffffff;
}
/* END OF HEADER/NAVIGATION STYLE */

/* SECTION */
h1,
p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 800;
}
h2 {
  font-size: 1.09em;
  margin-top: 2px;
  color: #ffffff;
}

h1 {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500;
}

p {
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-weight: 500;
}
/* END SECTION */

/* DASHBOARD START */
.dashboard-container {
  display: flex;
}
.sidebar {
  flex: 1;
  height: 500px;
  background-color: #ddd;
}
.dashboard-content {
  flex: 3;
  height: 500px;
  background-color: #ccc;
  font-size: 22px;
  font-weight: bold;
}
.sidebar ul li {
  padding: 20px;
  border-bottom: 1px solid #010165;
  list-style-type: none;
}
.sidebar ul li:hover{
  background: #a2a2a2;
  color: #ffffff;
}
/* DASHBOARD END */

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  body {
    overflow: initial;
  }
  h1,
  p {
    color: #ffffff;
    font-size: 22px;
    font-weight: 800;
  }

  #footer p {
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 1024px) {
  #footer p {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .container,
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .home {
    margin: 0;
    font-size: 0.9em;
    padding: 4px;
  }

  h1,
  p {
    text-align: center;
    font-weight: 530;
  }
}
@media only screen and (max-width: 320px) {
  .container,
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .home {
    margin: 0;
    font-size: 0.6em;
    padding: 4px;
  }

  h1,
  p {
    text-align: center;
    font-weight: 530;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    width: 355px;
  }
  .container,
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .home {
    margin: 0;
    font-size: 0.53em;
    padding: 4px;
  }

  p {
    font-weight: 800;
  }
}
