body{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(/UI/img/passenger-car-150155_640.png);
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: 'Catamaran', sans-serif;
}
.signup-page{
  width: 360px;
  padding: 10%,0,0;
  margin: auto;
}
.form{
  position: relative;
  z-index: 1;
  background: rgba(1, 1, 101, 0.8);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;

}
.form input {
  font-family: 'Catamaran', sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=submit] {
  background-color: #5cb85c;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size:16px;
  font-weight: bold;
  line-height: 1.4;
  padding: 10px;
  width: 180px
}
input[type="submit"]:hover{
  color: green;
  background: white;
  border: 1px solid green;
  outline: none;
}
h1,p{
  color: #ffffff;
}