* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    min-height: 100vh;
    line-height: 1.6;
    /* overflow: hidden; */
}

/* START OF HEADER/NAVIGATION STYLE */

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #010165;
}

.home {
    margin: 0;
    font-size: 1.45em
}

.container,
.nav-list {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.home a {
    text-transform: uppercase;
}

.home a,
.nav-list a {
    padding: 10px 15px;
    text-align: center;
}

.nav-list {
    margin-top: 5px;
}

.container {
    padding-top: .9em;
    padding-bottom: .9em;
    border: 1px solid #a2a2a2;
    background-color: #f4f4f4;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button {
    background-color: #efefef;
    border: none;
    color: #34495e;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;

}

.button:before,
.button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.button:before {
    border-top: 2px solid #010165;
    left: 0px;
    top: -5px;
}

.button:after {
    border-bottom: 2px solid #010165;
    bottom: -5px;
    right: 0px;
}

.button:hover {
    background-color: #010165;
    color: #ffffff;
}

.button:hover:before,
.button:hover:after {
    height: 100%;
    width: 100%;
}

/* END OF HEADER/NAVIGATION STYLE */


/* START SECTION */

h1 {
    margin-top: 40px;
    margin-bottom: 15px;
}

p {
    max-width: 600px;
    margin: auto;
}

h1,
p {
    text-align: center;
    color: #010165;
    font-weight: 500;
}

/* image style */
img-discription,
img {
    padding: 8px;
}

/* footer style */
#footer,
p {
    margin-bottom: 5px;
}
